[package]
name = "rexie"
version = "0.2.1"
authors = ["Devashish Dixit <devashishdxt@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Rexie is an easy-to-use, futures based wrapper around IndexedDB that compiles to webassembly"
homepage = "https://github.com/devashishdxt/rexie"
repository = "https://github.com/devashishdxt/rexie"
categories = ["asynchronous", "database", "wasm", "web-programming"]
keywords = ["wasm", "indexeddb", "futures", "idb", "indexed"]
readme = "README.md"
include = ["Cargo.toml", "src/**/*.rs", "tests/**/*.rs", "README.md"]
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
console_error_panic_hook = { version = "0.1.7", optional = true }
js-sys = "0.3.56"
num-traits = { version = "0.2.14", default-features = false }
thiserror = "1.0.30"
tokio = { version = "1.16.1", default-features = false, features = ["sync"] }
wasm-bindgen = "0.2.79"
web-sys = { version = "0.3.56", features = [
    "console",
    "DomException",
    "DomStringList",
    "Event",
    "IdbCursorWithValue",
    "IdbCursorDirection",
    "IdbDatabase",
    "IdbFactory",
    "IdbIndex",
    "IdbIndexParameters",
    "IdbKeyRange",
    "IdbObjectStore",
    "IdbObjectStoreParameters",
    "IdbOpenDbRequest",
    "IdbOpenDbOptions",
    "IdbRequest",
    "IdbTransaction",
    "IdbTransactionMode",
    "StorageType",
    "Window",
] }
wee_alloc = { version = "0.4.5", optional = true }

[dev-dependencies]
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.78"
serde-wasm-bindgen = "0.4.2"
wasm-bindgen-test = "0.3.29"

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
